@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-active, .router-link-exact-active {
    border-bottom: 0.1rem #f97316 solid;
    color: #f97316;
}

.logo {
    border: none !important;
}